a.btn {
	width: 46px;
	height: 46px;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:20px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;
	padding-top: 10px
}
a.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
a.btn.focus,.btn:focus,.btn:hover {
	color:#333;
	text-decoration:none
}
a.btn.active,.btn:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
a.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65
}
a.btn.disabled,fieldset[disabled] aa.btn {
	pointer-events:none
}
a.btn-default {
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
a.btn-default.focus,.btn-default:focus {
	color:#333;
	background-color:#e6e6e6;
	border-color:#8c8c8c
}
a.btn-default:hover {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
a.btn-default.active,.btn-default:active,.open>.dropdown-togglea.btn-default {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
a.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-togglea.btn-default.focus,.open>.dropdown-togglea.btn-default:focus,.open>.dropdown-togglea.btn-default:hover {
	color:#333;
	background-color:#d4d4d4;
	border-color:#8c8c8c
}
a.btn-default.active,.btn-default:active,.open>.dropdown-togglea.btn-default {
	background-image:none
}
a.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
	background-color:#fff;
	border-color:#ccc
}
a.btn-default .badge {
	color:#fff;
	background-color:#333
}
a.btn-primary {
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4
}
a.btn-primary.focus,.btn-primary:focus {
	color:#fff;
	background-color:#286090;
	border-color:#122b40
}
a.btn-primary:hover {
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
a.btn-primary.active,.btn-primary:active,.open>.dropdown-togglea.btn-primary {
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
a.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-togglea.btn-primary.focus,.open>.dropdown-togglea.btn-primary:focus,.open>.dropdown-togglea.btn-primary:hover {
	color:#fff;
	background-color:#204d74;
	border-color:#122b40
}
a.btn-primary.active,.btn-primary:active,.open>.dropdown-togglea.btn-primary {
	background-image:none
}
a.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
	background-color:#337ab7;
	border-color:#2e6da4
}
a.btn-primary .badge {
	color:#337ab7;
	background-color:#fff
}
a.btn-success {
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c
}
a.btn-success.focus,.btn-success:focus {
	color:#fff;
	background-color:#449d44;
	border-color:#255625
}
a.btn-success:hover {
	color:#fff;
	background-color:#449d44;
	border-color:#398439
}
a.btn-success.active,.btn-success:active,.open>.dropdown-togglea.btn-success {
	color:#fff;
	background-color:#449d44;
	border-color:#398439
}
a.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-togglea.btn-success.focus,.open>.dropdown-togglea.btn-success:focus,.open>.dropdown-togglea.btn-success:hover {
	color:#fff;
	background-color:#398439;
	border-color:#255625
}
a.btn-success.active,.btn-success:active,.open>.dropdown-togglea.btn-success {
	background-image:none
}
a.btn-success.disabled.focus,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled].focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
	background-color:#5cb85c;
	border-color:#4cae4c
}
a.btn-success .badge {
	color:#5cb85c;
	background-color:#fff
}
a.btn-info {
	color:#fff;
	background-color:#5bc0de;
	border-color:#46b8da
}
a.btn-info.focus,.btn-info:focus {
	color:#fff;
	background-color:#31b0d5;
	border-color:#1b6d85
}
a.btn-info:hover {
	color:#fff;
	background-color:#31b0d5;
	border-color:#269abc
}
a.btn-info.active,.btn-info:active,.open>.dropdown-togglea.btn-info {
	color:#fff;
	background-color:#31b0d5;
	border-color:#269abc
}
a.btn-info.active.focus,.btn-info.active:focus,.btn-info.active:hover,.btn-info:active.focus,.btn-info:active:focus,.btn-info:active:hover,.open>.dropdown-togglea.btn-info.focus,.open>.dropdown-togglea.btn-info:focus,.open>.dropdown-togglea.btn-info:hover {
	color:#fff;
	background-color:#269abc;
	border-color:#1b6d85
}
a.btn-info.active,.btn-info:active,.open>.dropdown-togglea.btn-info {
	background-image:none
}
a.btn-info.disabled.focus,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled].focus,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
	background-color:#5bc0de;
	border-color:#46b8da
}
a.btn-info .badge {
	color:#5bc0de;
	background-color:#fff
}
a.btn-warning {
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
}
a.btn-warning.focus,.btn-warning:focus {
	color:#fff;
	background-color:#ec971f;
	border-color:#985f0d
}
a.btn-warning:hover {
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
}
a.btn-warning.active,.btn-warning:active,.open>.dropdown-togglea.btn-warning {
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
}
a.btn-warning.active.focus,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning:active.focus,.btn-warning:active:focus,.btn-warning:active:hover,.open>.dropdown-togglea.btn-warning.focus,.open>.dropdown-togglea.btn-warning:focus,.open>.dropdown-togglea.btn-warning:hover {
	color:#fff;
	background-color:#d58512;
	border-color:#985f0d
}
a.btn-warning.active,.btn-warning:active,.open>.dropdown-togglea.btn-warning {
	background-image:none
}
a.btn-warning.disabled.focus,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled].focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
	background-color:#f0ad4e;
	border-color:#eea236
}
a.btn-warning .badge {
	color:#f0ad4e;
	background-color:#fff
}
a.btn-danger {
	color:#fff;
	background-color:#d9534f;
	border-color:#d43f3a
}
a.btn-danger.focus,.btn-danger:focus {
	color:#fff;
	background-color:#c9302c;
	border-color:#761c19
}
a.btn-danger:hover {
	color:#fff;
	background-color:#c9302c;
	border-color:#ac2925
}
a.btn-danger.active,.btn-danger:active,.open>.dropdown-togglea.btn-danger {
	color:#fff;
	background-color:#c9302c;
	border-color:#ac2925
}
a.btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.dropdown-togglea.btn-danger.focus,.open>.dropdown-togglea.btn-danger:focus,.open>.dropdown-togglea.btn-danger:hover {
	color:#fff;
	background-color:#ac2925;
	border-color:#761c19
}
a.btn-danger.active,.btn-danger:active,.open>.dropdown-togglea.btn-danger {
	background-image:none
}
a.btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
	background-color:#d9534f;
	border-color:#d43f3a
}
a.btn-danger .badge {
	color:#d9534f;
	background-color:#fff
}
a.btn-link {
	font-weight:400;
	color:#337ab7;
	border-radius:0
}
a.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
	background-color:transparent;
	-webkit-box-shadow:none;
	box-shadow:none
}
a.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
	border-color:transparent
}
a.btn-link:focus,.btn-link:hover {
	color:#23527c;
	text-decoration:underline;
	background-color:transparent
}
a.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
	color:#777;
	text-decoration:none
}
a.btn-group-lg>.btn,.btn-lg {
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333;
	border-radius:6px
}
a.btn-group-sm>.btn,.btn-sm {
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
	border-radius:3px
}
a.btn-group-xs>.btn,.btn-xs {
	padding:1px 5px;
	font-size:12px;
	line-height:1.5;
	border-radius:3px
}
a.btn-block {
	display:block;
	width:100%
}
.btn-block+.btn-block {
	margin-top:5px
}
input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
	width:100%
}
.fade {
	opacity:0;
	-webkit-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear
}
.fade.in {
	opacity:1
}
.collapse {
	display:none
}
.collapse.in {
	display:block
}
tr.collapse.in {
	display:table-row
}
tbody.collapse.in {
	display:table-row-group
}
.collapsing {
	position:relative;
	height:0;
	overflow:hidden;
	-webkit-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease;
	-webkit-transition-duration:.35s;
	-o-transition-duration:.35s;
	transition-duration:.35s;
	-webkit-transition-property:height,visibility;
	-o-transition-property:height,visibility;
	transition-property:height,visibility
}
.caret {
	display:inline-block;
	width:0;
	height:0;
	margin-left:2px;
	vertical-align:middle;
	border-top:4px dashed;
	border-top:4px solid\9;
	border-right:4px solid transparent;
	border-left:4px solid transparent
}
.dropdown,.dropup {
	position:relative
}
.dropdown-toggle:focus {
	outline:0
}
.dropdown-menu {
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	font-size:14px;
	text-align:left;
	list-style:none;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
	border-radius:4px;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175)
}
.dropdown-menu.pull-right {
	right:0;
	left:auto
}
.dropdown-menu .divider {
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}
.dropdown-menu>li>a {
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:400;
	line-height:1.42857143;
	color:#333;
	white-space:nowrap
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	color:#262626;
	text-decoration:none;
	background-color:#f5f5f5
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#337ab7;
	outline:0
}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
	color:#777
}
.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.open>.dropdown-menu {
	display:block
}
.open>a {
	outline:0
}
.dropdown-menu-right {
	right:0;
	left:auto
}
.dropdown-menu-left {
	right:auto;
	left:0
}
.dropdown-header {
	display:block;
	padding:3px 20px;
	font-size:12px;
	line-height:1.42857143;
	color:#777;
	white-space:nowrap
}
.dropdown-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:990
}
.pull-right>.dropdown-menu {
	right:0;
	left:auto
}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
	content:"";
	border-top:0;
	border-bottom:4px dashed;
	border-bottom:4px solid\9
}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
	top:auto;
	bottom:100%;
	margin-bottom:2px
}
@media (min-width:768px) {
	.navbar-right .dropdown-menu {
	right:0;
	left:auto
}
a.navbar-right .dropdown-menu-left {
	right:auto;
	left:0
}
}.btn-group,.btn-group-vertical {
	position:relative;
	display:inline-block;
	vertical-align:middle
}
a.btn-group-vertical>.btn,.btn-group>.btn {
	position:relative;
	float:left
}
a.btn-group-vertical>.btn.active,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:hover,.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
	z-index:2
}
a.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group {
	margin-left:-1px
}
a.btn-toolbar {
	margin-left:-5px
}
a.btn-toolbar .btn,.btn-toolbar .btn-group,.btn-toolbar .input-group {
	float:left
}
a.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group {
	margin-left:5px
}
a.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius:0
}
a.btn-group>.btn:first-child {
	margin-left:0
}
a.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
a.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
a.btn-group>.btn-group {
	float:left
}
a.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
	border-radius:0
}
a.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
a.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
a.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
	outline:0
}
a.btn-group>.btn+.dropdown-toggle {
	padding-right:8px;
	padding-left:8px
}
a.btn-group>.btn-lg+.dropdown-toggle {
	padding-right:12px;
	padding-left:12px
}
a.btn-group.open .dropdown-toggle {
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
a.btn-group.open .dropdown-togglea.btn-link {
	-webkit-box-shadow:none;
	box-shadow:none
}
a.btn .caret {
	margin-left:0
}
a.btn-lg .caret {
	border-width:5px 5px 0;
	border-bottom-width:0
}
.dropup .btn-lg .caret {
	border-width:0 5px 5px
}
a.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn {
	display:block;
	float:none;
	width:100%;
	max-width:100%
}
a.btn-group-vertical>.btn-group>.btn {
	float:none
}
a.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group {
	margin-top:-1px;
	margin-left:0
}
a.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
	border-radius:0
}
a.btn-group-vertical>.btn:first-child:not(:last-child) {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0
}
a.btn-group-vertical>.btn:last-child:not(:first-child) {
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px
}
a.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
	border-radius:0
}
a.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0
}
a.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
	border-top-left-radius:0;
	border-top-right-radius:0
}
a.btn-group-justified {
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:separate
}
a.btn-group-justified>.btn,.btn-group-justified>.btn-group {
	display:table-cell;
	float:none;
	width:1%
}
a.btn-group-justified>.btn-group .btn {
	width:100%
}
a.btn-group-justified>.btn-group .dropdown-menu {
	left:auto
}