<select name="tag" id="tag" >

    <option value={{tag}}>选择标签</option>
    <option value="HTML">HTML</option>
    <option value="HTML5">HTML5</option>
    <option value="python">python</option>
    <option value="django">django</option>

    <option value="SQL">SQL</option>
    <option value="iOS">iOS</option>
    <option value="Android">Android</option>
    <option value="CSS">CSS</option>
    <option value="JavaScript">JavaScript</option>

    <option value="PHP">PHP</option>

    <option value="其他">其他</option>

</select>
