<!DOCTYPE html>
{% block html_attr %}
<html lang="en">
{% endblock %}
    {% block html_head %}
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ gt.layout.title }}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">


        <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>     
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href="https://cdn.bootcss.com/uikit/2.25.0/css/uikit.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/uikit/2.6.0/js/uikit.min.js"></script> 
           
        <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
        <script src="/static/home/js/abbyCommon.js"></script>
        <script src="/static/home/js/abbyApp.js"></script>
        <script src="/static/home/js/md5.js"></script>  

        
  {% block head %}{% endblock %}        

    </head>
    {% endblock %}
{% block html_body %}   
<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom" style="max-width:1280px;">
        {% block header %}
        <div class="uk-margin">
            <nav class="uk-navbar">
                <a class="uk-navbar-brand" href="/"><i class="uk-icon-home"></i> Home</a>  

                <ul class="uk-navbar-nav"> 
                    <li class="uk-parent uk-active " data-uk-dropdown>
                        <a href="/admin"><i class="uk-icon-delicious"></i> admin </a>
                    </li>
                </ul>
               
                <ul class="uk-navbar-nav"> 
                    <li class="uk-parent uk-active " data-uk-dropdown>
                        <a href="#"><i class="uk-icon-delicious"></i> test </a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/ask/list/">list</a></li>
                                <li><a href=""> -------------------------- </a></li>
                                
                                


                        
                            </ul>
                        </div>
                    </li>
                </ul>
               
                

                <div class="uk-navbar-flip">
                  <ul class="uk-navbar-nav">
                  {% if user.username %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ user.username }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                          <ul class="uk-nav uk-nav-navbar">
                            <li><a href="/logout"><i class="uk-icon-sign-out"></i> Logout</a></li>
                          </ul>
                        </div>
                    </li>
                  {% else %}
                    <li><a href="/sigin/"><i class="uk-icon-sign-in"></i> Login</a></li>
                    <li><a href="/register/"><i class="uk-icon-edit"></i> Register</a></li>
                  {% endif %}
                  </ul>
                </div>

                <div id="app"> 
                    <div class="uk-navbar-content uk-navbar-flip">
                        <div class="uk-form uk-margin-remove uk-display-inline-block">
                          
                            <input v-model="q"  style="width:200px;" placeholder="{{placeholder}}" > 
                            <a class="uk-button uk-button-primary" v-bind:href="'{{search}}?q=' + q"><i class="uk-icon-search"></i></a> 
                       
                        </div>  
                    </div>              
                </div>

            </nav>
        </div>
        {% endblock %}

    {% block content %}
     
    {% endblock %}
     
    {% if messages %} <!--messages消息 width:60px;-->
        <div  style="height:60px;width:972px;color:#f00;font-size:16px; padding-left:4px;padding-top:2px;background-color:#fff; border:1px solid #ccc;word-wrap:break-word; overflow:auto;overflow-y:auto;margin-left:76px;">           
                {% for message in messages %}
                    <li>{{ message }}</li> 
                {% endfor %}
        </div>
    {% endif %}

    

    {% block footer %}
        <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
            <div class="uk-container uk-container-center uk-text-center">
                <div class="uk-panel uk-margin-top uk-margin-bottom">
                    <p>
                        {% for item in gt.layout.footer_ext_links %}
                        <a target="_blank" href="{{ item.1 }}" class="uk-icon-button uk-icon-{{ item.0 }}"></a>
                        {% endfor %}
                    </p>
                    <p>Powered by <a href="{{ gt.layout.powerby_link }}">{{ gt.layout.powerby_name }}</a>. Copyright &copy; 2019. [<a href="{{ gt.layout.manage_link }}" target="_blank">{{ gt.layout.manage_name }}</a>]</p>
                    <p><a href="{{ gt.layout.rights_link }}" target="_blank">{{ gt.layout.rights_name }}</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    {% endblock %}
   
</div>

<script>
    new Vue({
        el: '#app',
        delimiters: ['{[', ']}'], //vue模板显示变量       
        data: {
            q: ''          
        }
    })
</script>
</body>
{% endblock %}
</html>
{% block scripts_end %}
{% endblock %}
