{% extends 'home/__base__.html' %}
{% block content %}
<script src="https://cdn.bootcss.com/vue/0.10.3/vue.min.js"></script>
<div style="margin-left:300px;">  <!--将下列网页整体移动-->
<script>
$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

$(function () {
    
    var href = "{{href}}";//js使用后台传来的变量

    var vm = new Vue({
        el: '#form-register',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: '',
            checkcode: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                if (! this.name.trim()) {
                    return showError('请输入名字');
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return showError('请输入正确的Email地址');
                }
                if (this.password1.length < 6) {
                    return showError('口令长度至少为6个字符');
                }
                if (this.password1 !== this.password2) {
                    return showError('两次输入的口令不一致');
                }
                if (this.checkcode !== '{{g_checkcode}}') {
                    return showError('请输入正确的验证码');
                }
                startLoading();
                postApi('/apis/registerapi/', { // /account/post/   
                    name: this.name,
                    email: this.email,//.trim().toLowerCase(),
                    password: this.password1//CryptoJS.MD5(this.password1).toString(),
                    //checkcode: this.checkcode,
                }, function (err, result) {
                    if (err) {
                        showError(err);
                    }
                    else {
                         if(result.msg){
                                //alert(result.msg);
                                showError(result.msg);
                            }
                            else{
                               
                               return location.assign(href ? href : '/'); //重新定位到后台
                            }
                    }
                    stopLoading();
                });
            }
        }
    });
});

</script>


<!-- 调试（正式使用时将屏蔽此信息），此信息位于: home/register.html  显示变量： href={{href}}  -->
<dir class="uk-height-1-1">
    <h2><p style="margin-left:80px;">
        <a href="/" class="uk-icon-button"><i class="uk-icon-html5"></i></a> 
        <a href="/">欢迎注册！</a>
    </p></h2>
  
    <div class="uk-width-2-4">
        <form id="form-register" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">名字:</label>
                <div class="uk-form-controls">
                    <input v-model="name" type="text" maxlength="50" placeholder="名字" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">电子邮件:</label>
                <div class="uk-form-controls">
                    <input v-model="email" type="text" maxlength="50" placeholder="your-name@example.com" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password1" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">重复口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password2" type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">验证码:</label>
                <div class="uk-form-controls">
                    <input v-model="checkcode" type="text" maxlength="4" placeholder="区分大小写" class="uk-width-1-4">
                        <a  href="/home/getcheckcode/?path={{path}}" >  <!--注册后台-->
                            <img     src="/home/checkcodeGIF/"  alt="验证码图片" />
                            看不清？换一个
                        </a>
                </div>
            </div>

            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 注册</button>
            </div>
        </form>
    </div>

  </dir> 
  
</div>
{% endblock %}
